<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户列表
            <a href="{:U('User/add')}" class="btn btn-default pull-right"><font color="black">添加用户</font></a>
        </h1>
       <!--  <ol class="breadcrumb">
           <li><a href="{:U('Admin/index')}"><i class="fa fa-dashboard"></i> 管理中心</a></li>
           <li><a href="{:U('list')}">用户管理</a></li>
           <li class="active">用户列表</li>
       </ol> -->
    </section>

    <!-- Main content -->
   <!--  <section class="content"> -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- <div class="box-header">
                        <h3 class="box-title"></h3>
                        <a href="{:U('User/add')}" class="btn btn-default pull-right">添加用户</a>
                    </div> --><!-- /.box-header -->
                    <!--  -->
            <form action='{:U('User/fetch')}' method="get">
        
               <?php
                $starttime = date('Y-m-d',strtotime('-100 days'));//a三天前的时间
                $endtime= date('Y-m-d');//当天时间


            ?><table style="margin-left: 10px;" border="0" cellpadding="0" cellspacing="0">
                <tr>
                <td style='margin-bottom: 20px'>昵称：<input id="name" name="nickname" class="inp_wid3" type="text" value="{$_GET['nickname']}"/></td>
                <td style="text-align:right">&nbsp;手机号：<input id="phone" name="phone" class="inp_wid3" type="text" value="{$_GET['phone']}"/></td>
                <td style="text-align:right">&nbsp;身份证号：<input id="idnumber" name="idnumber" class="inp_wid3" type="text" value="{$_GET['idnumber']}"/></td>
                <td style="text-align:right">&nbsp;查询日期：<input id="starttime" placeholder="填一个即可2016-08-28" name="starttime" class="inp_wid3" type="date" value="{$starttime}"/> ~ <input id="endtime"name="endtime" placeholder="2016-08-29" class="inp_wid3" type="date" value="{$endtime}"/></td>
                <td>
                &nbsp;<input class="search_btn1" type="submit" value="搜索" id="Search" />
                </td>
                </tr>
                </table>
            </form>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <!-- <th style="width: 10px">#</th> -->
                                <th style="text-align:center;">列表</th>
                                <th style="text-align:center;">姓名</th>
                                <th style="text-align:center;">手机号</th>
                                <th style="text-align:center;">证件号</th>
                                <!-- <th>状态</th> -->
                                <th style="text-align:center;">用户类型</th>
                                <th style="text-align:center;">注册时间</th>
                                <th style="text-align:center;">最后登录</th>
                                <th style="text-align:center;">余额</th>
                                <th style="text-align:center;">操作</th>
                               <!--  <th>性别</th>
                                <th>证件号</th> -->
                               <!--  <th style="width: 20%">操作</th> -->
                            </tr>
                            
                            <volist name="user_list" id="user">
                            <tr>
                                <td>{$user['id']}</td>
                                <td>{$user['name']}</td>
                                <td>{$user['phone']}</td>
                                <td>{$user['idnumber']}</td>
                                <!-- <td>{$user['status']}</td> -->
                                <td>{$user['status']}</td>
                                <td>{$user['regtime']}</td>
                                <td>{$user['logintimes']}</td>
                                <td>{$user['moneys']}</td>
                                <!-- <td>{$user['caozuo']}</td> -->
                                <!-- <td>{$User['create_at']}</td>
                                <td>{$User['category_title']}</td
                                > -->
                                <td style="width: 249px">
                                    <a href="{:U('edit', ['user_id'=>$user['id']])}" class="btn btn-default" title=""  >{$user['status']=='雷锋用户'?'查看':'审核'}</a>
                                    <a href="{:U('bianji', ['user_id'=>$user['id']])}" class="btn btn-default" title="编辑">编辑</a>
                                    <!-- <a href="{:U('', ['user_id'=>$user['id']])}" class="btn btn-default" title="审查"><span class="fa fa-edit"></span> 审查</a> -->
                                    <!-- <a href="{:U('recharge', ['User_id'=>$User['User_id']])}" class="btn btn-default" title="充值" onclick="prompt()"> 充值</a> -->
                                    <form action="{:U('User/recharge')}" method="post" enctype="multipart/form-data">
                                      <input type="text" name="money" id="inputPhone" placeholder="金额" maxlength="5"/>
                                      <input type="hidden" name="user_id" value="{$user['id']}" />

                                      <button type="submit" value="publish" value="充值"><!-- <a href="{:U('recharge', ['user_id'=>$user['id']])}">充值</a> -->充值</button>
                                    </form>
                                    
                                    
                                    <script type="text/javascript">
                                    function prom() {

                                    var value = prompt("请输入您的名字", ""); //将输入的内容赋给变量 name ，  
                              
                                    //这里需要注意的是，prompt有两个参数，前面是提示的话，后面是当对话框出来后，在对话框里的默认值  
                                    if (value)//如果返回的有内容  
                                        {  
                                        alert("欢迎您：" + name)  
                                        }  
                                    
                                    }  
                                    </script>
                                    
                                </td>
                            </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
                  <!--分页的位置-->
                    {$page_html}
            </div>
        </div>
    </section><!-- /.content -->

    <section class="content-footer">
        <div class="text-center">
            &copy;全民乐帮
        </div>
    </section><!-- /.content-footer -->

</aside><!-- /.right-side -->
</block>