<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           后台权限管理
            <!-- <a href="{:U('Quanxian/add2')}" class="btn btn-default pull-right"><font color="black">添加后台权限</font></a> -->
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    <!-- Main content -->
    <!-- <section class="content"> -->
    <script type="text/javascript" language="javascript"> 

            function confirmAct() 
            { 
                if(confirm('确定要执行此操作吗?')) 
                { 
                    return true; 
                } 
                return false; 
            } 

    </script>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                 <form action="{:U('Admin/Quanxian/add2')}" method="post">
             <select class="xiala"  style="margin-top:10px; margin-left:10px; height:27px;" name="sid"> 
            
                      <foreach name = "ru" item = "c">
                            <option style="height:23px;" value ="{$c.id}">{$c.title}</option>
                      </foreach>
        
                 </select>
                <input type="text" name="name" class="text"  placeholder="Admin/Msg/list"/>
                <input type="text" name="title" class="text"  placeholder="权限名称"/>
                <input type="submit" class="btn btn-primary"  style="width:120px;"  onclick="return confirmAct();" value="添加" class="sub_090" style="width:80px;"/>
                 </form>
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <!-- a href="category_add.html" class="btn btn-default pull-right">添加分类</a> -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody><tr style="background: #E0E0E0;">
                                <!-- <th style="width: 10px">#</th> -->
                                <th style="text-align:center;">序号</th>
                                <th style="text-align:center;">权限</th>
                                <th style="text-align:center;">权限名称</th>
                                <!-- <th>排序</th> -->
                                <th style="width: 20%; text-align:center;">操作</th>
                            </tr>
                            <volist name="rule" id="rul">
                            <tr>
                                <!-- <td>1</td> -->
                                <td>{$rul['id']}</td>
                                <td>{$rul['name']}</td>
                                <td>{$rul['title']}</td>
                           
                                <!-- <td>100</td> -->
                                <td style="text-align:center;">  
                                    <a href="{:U('Quanxian/del2',array('uid'=>$rul['id']))}" class="btn btn-default" onclick="return confirmAct();" title="编辑">删除</a>
                             
                                    <!-- <a href="#" class="btn btn-default" title="删除" onclick="return confirm('是否删除？');"><span class="fa fa-trash-o"></span> 删除</a> -->
                                </td>
                            </tr>
                            </volist>
                        </tbody></table>
                    </div><!-- /.box-body -->
                </div>
                {$page_html}
            </div>
        </div>
    </section><!-- /.content -->
    </section><!-- /.content -->

    <section class="content-footer">
        <div class="text-center">
            &copy;全民乐帮
        </div>
    </section><!-- /.content-footer -->

</aside><!-- /.right-side -->
</block>
