<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        <div>
            <div style="float:left">
            <font class="font">后台分组</font> 
       </div>
   
  
        
       <div style="float:right;">
            
            <a href="{:U('Quanxian/add')}" class="btn btn-default0 pull-right">新增用户</a>
       
    
        </div>
     </div>
 </h1>
    </section>

  

    <script type="text/javascript" language="javascript"> 

            function confirmAct() 
            { 
                if(confirm('确定要执行此操作吗?')) 
                { 
                    return true; 
                } 
                return false; 
            } 

    </script>


    <style>

         select{
        text-indent:5px;
    }
    input{
              text-indent:10px;
    }
    </style>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form action="{:U('Admin/Quanxian/add1')}" method="post">
                     <label for="inputSubject"style="margin-top:10px; margin-left:10px;">分类名称</label>
                                   
                         <input type="text" class="ip" name="title" id="title" placeholder="" maxlength="20" />
                         <button class="btn btn-primary"  style="width:100px; height:40px; background:#009900; margin-top:-5px;"  type="submit" name="submit" onclick="return confirmAct();" value="publish">添加</button>
                   
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr style="background: #fbfbfb;">
                                <th style="width:80px;">序号</th>
                                <th>分组</th>
                                <!-- <th>排序</th> -->
                                <th style="width:150px;">操作</th>
                            </tr>
                            <volist name="use" id="user">
                            <tr>
                                <!-- <td>1</td> -->
                                <td>{$user['id']}</td>
                                <td>{$user['title']}</td>
                           
                                <!-- <td>100</td> -->
                                <td style="text-align:center;">
                                <if condition='$user["id"] neq 1'>
                                    <a href="{:U('Quanxian/edit1',array('uid'=>$user['id']))}" class="btn btn-default1"style="width:70px;">查看详情</a>
                                    <a href="{:U('Quanxian/del1',array('uid'=>$user['id']))}" class="btn btn-default2" onclick="return confirmAct();" style="width:40px;">删除</a>
                                    </if>
                                    <!-- <a href="#" class="btn btn-default" title="删除" onclick="return confirm('是否删除？');"><span class="fa fa-trash-o"></span> 删除</a> -->
                                </td>
                            </tr>
                            </volist>
                        </tbody></table>
                    </div><!-- /.box-body -->
                </div>
                {$page_html}
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
</block>
