<!DOCTYPE html>
<html>
    <!-- start -->
    
    
    
   
  
    <!-- end -->
    <include file="Common/head" />

    <body class="skin-blue">
        
        <include file="Common/header" />

        <div class="wrapper row-offcanvas row-offcanvas-left">
            
            <include file="Common/left" />

            <block name="content"></block>
            
        </div><!-- ./wrapper -->

        <!-- jQuery 2.0.2 -->
        <!-- <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> -->
        <!-- Bootstrap -->
        <script src="__PUBLIC__/Admin/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="__PUBLIC__/Admin/js/app.js" type="text/javascript"></script>


    </body>
</html>