<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <div>
            <div style="float:left">
            <font class="font" >在线新鲜事</font>  
            <!-- <p style="width:81px;23px;">待审核用户 </p> -->
            </div>
        <div class="search" style="float:left;margin-left: 20px;">
   <form id="user_search" action='{:U('Xinxianshi/fetch')}' method="get" onsubmit="return checks()">
    <select name="sosuo" id="sosuo" class="sosuo">
                                          <option  name="sosuo" value="1">&nbsp;手机号</option>
                                          <option  name="sosuo" value="2">&nbsp;小区名称</option>
                                          
        </select>
      <input type="text" id="text" name="value" class="txt"  autocomplete="off" name="value" />
      <button type="submit" class="search_btn" id="Search" type="button" >
      <span class="ico" id="scico"><em></em></span>
      </button>
   </form>
</div>
        <div style="float:right;">
            <if condition ="$_GET['sosuo'] neq ''">
            <a href= "javascript:history.back(-1);" class="btn btn-default0 pull-right">返回</a>
            </if>
        </div>
  
        </div>
       </h1>
    </section>
        <script>
        function checks(){
            var text =  $('#text').val();
           
            if( text == ''){
                alert('亲,请输入搜索内容!!!');
               return false;
            }

        }
</script>

         <!-- //s -->
                                    <script type="text/javascript">
                                    function add(xid){
                                    document.getElementById("tcbg").style.display="block";
                                    document.getElementById("tcdiv").style.display="block";
                                    document.getElementById("xid").value=xid;
                                    }


                                    function subs(){
                                    var beizhu=document.getElementById("beizhu").value;//
                                    var xid=document.getElementById("xid").value;//
                          
                                   
                                       

                                    }
                                    function cancel(){
                                    var p=document.getElementById("div");
                                    document.body.removeChild(p);
                                    }
                                    //9月19号修改
                                    function removeElement(){
                                    document.getElementById("tcbg").style.display='none';
                                    document.getElementById("tcdiv").style.display="none";
                                    }
                                    </script>
    <!-- Main content -->
    <!-- <section class="content"> -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                         <table class="table table-bordered" >
                            <tbody>
                            <tr style="background: #fbfbfb;">
                                <!-- <th style="width: 10px">#</th> -->
                                <th style="width:80px"><a href="{:U('list3')}">列表</th>
                                <th>新鲜事详情</th>
                                <th style="width:150px">发布人</th>
                                <th style="width:100px">手机号码</th>
                                <th style="width:150px">所在小区</th>
                                <!-- <th>状态</th> -->
                                <th style="width:80px"><a href="{:U('dianzhanlist')}">点赞</a></th>
                                <!-- <th>状态</th> -->

                                <th style="width:80px"><a href="{:U('pinglunlist')}">评论</a></th>
                                <th style="width:150px">发布时间</th>
                                <th style="width:150px">操作</th>
                               <!--  <th>性别</th>
                                <th>证件号</th> -->
                               <!--  <th style="width: 20%">操作</th> -->
                            </tr>
                            
                            <volist name="xinxianshi_list" id="xinxianshi">
                            <tr>  
                                <td>{$xinxianshi['id']}</td>
                                <td style="text-align:left;">{$xinxianshi['neirong']}</td>
                                <td>{$xinxianshi['name']} </td>
                                <td>{$xinxianshi['phone']}</td>
                                <!-- <td>{$xinxianshi['status']}</td> -->
                                <td><if condition="empty($xinxianshi['mingcheng'])">体验小区<else /> 
                                {$xinxianshi['mingcheng']}</if></td>
                                <td>{$xinxianshi['dianzanshu']}</td>
                                <td><a href="{:U('pingluncheck', ['xinxianshi_id'=>$xinxianshi['id']])}" title="查看评论">{$xinxianshi['pinglunshu']}</a></td>
                                <td>{:date('Y-m-d H:i:s', $xinxianshi['shijian'])}</td>
                               <!--  <td>{$xinxianshi['xianshi']=='1'?'启用':'禁用'}</td> -->
                              
                                <td>
                                   <!--  <if condition="$xinxianshi['xianshi']== 1"><input type="button" onclick="add({$xinxianshi['id']})" value="禁用"><else /> 已禁用</if> -->
                                     <a href="{:U('bianji1', array('xinxianshi_id'=>$xinxianshi['id'],'p'=>$_GET['p']))}" class="btn btn-default1" title="编辑">查看详情</a>
                              
                                </td>
                            </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
                  <!--分页的位置-->
                    {$page_html}
            </div>
        </div>
        <style>
.tcbg{  display:none;  position:fixed;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color:#000;   -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50); z-index:5}
.tcdiv{ display:none;  position:fixed;  top:200px; right:350px; margin:auto; text-align:left;   width: 100%; max-width:300px;  height: 200px;  background-color:#CC0066;  z-index:6; padding:10px;}
</style>
<div class="tcbg" id="tcbg"></div>
<div id="tcdiv"  class="tcdiv">
<form action="{:U('bianji',array('p'=>$_GET['p']))}" method="get" onsubmit="return check()">
<input type="hidden" placeholder="备注信息" id="xid"  name="xinxianshi_id" > 
    <input  type="text" placeholder="备注信息" id="beizhu"  name="beizhu" > 
    <input type="submit" value="备注">
     <!--  9月19号修改 -->
    <input type='button' onclick="removeElement()" value='取消'>

 </form>

</div>

<script>
     function check(){
        var beizhu = $('#beizhu').val();
        if(beizhu != ''){
            return true;
        }
        alert('请输入禁用理由！！！');
            return false;
     }

</script>

    </section><!-- /.content -->

   

</aside><!-- /.right-side -->
</block>