<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            雷锋用户
            <a href="{:U('User/add')}" class="btn btn-default0 pull-right">添加用户</a>
        </h1>
        <!-- <ol class="breadcrumb">
            <li><a href="{:U('Admin/index')}"><i class="fa fa-dashboard"></i> 管理中心</a></li>
            <li><a href="{:U('list')}">用户管理</a></li>
            <li class="active">审核过</li>
        </ol> -->
    </section>

    <!-- Main content -->
    <!-- <section class="content"> -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- <div class="box-header">
                        <h3 class="box-title"></h3>
                        <a href="{:U('User/add')}" class="btn btn-default pull-right">添加用户</a>
                    </div> --><!-- /.box-header -->
                    <div class="box-body">
                        <table style="margin-left: -5px;margin-top: -4px;" class="table table-bordered">
                            <tbody>
                             <tr style="background: #fbfbfb;">
                                <!-- <th style="width: 10px">#</th> -->
                               <th style="text-align:center;">序号</th>  
                                <th style="text-align:center;">手机号</th>
                                <th style="text-align:center;">昵称</th>
                                <th style="text-align:center;">性别</th>
                                <th style="text-align:center;">年龄</th>
                                <th style="text-align:center;">职业</th>
                                 <th style="text-align:center;">所在小区</th>
                                <th style="text-align:center;">新鲜事</th>
                                <th style="text-align:center;">评论</th>
                                <th style="text-align:center;">发任务</th>
                                <th style="text-align:center;">评价</th>
                                <th style="text-align:center;">操作</th>
                            
                            </tr>
                            
                            <volist name="user_list" id="user">
                              <tr>
                                <td>{$user['id']}</td>
                                <td>{$user['phone']}</td>
                                <td>{$user['nickname']}</td>
                               <td><if condition="$user['sex'] eq '1'">男<elseif condition="$user['sex'] eq '2'"/>女</if>
                                </td>
                                <td>{$user['age']}</td>
                                <td>{$user['profession']}</td>
                                <td>{$user['shequ']}</td>
                                <td>{$user['xinxianshi']}</td><td>{$user['beipinglunshu']}</td>
                                
                                <td>{$user['order1']}</td>
                                <td>{$user['pinglunshu']}</td>
                               
                                <!-- <td>{$user['caozuo']}</td> -->
                                <!-- <td>{$User['create_at']}</td>
                                <td>{$User['category_title']}</td> -->
                                <td >
                                 
                                    <a href="{:U('bianji', ['user_id'=>$user['id']])}" class="btn btn-default1" title="编辑">查看详情</a>
                            
                                </td>
                            </tr>
                            </volist>

                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
                  <!--分页的位置-->
                    {$page_html}
            </div>
        </div>
    </section><!-- /.content -->

    <section class="content-footer">
        <div class="text-center">
            &copy;全民乐帮
        </div>
    </section><!-- /.content-footer -->

</aside><!-- /.right-side -->
</block>