<extend name="Layout/Admin" />
<style type="text/css">
        body {
            font-size: 12px;
        }
        #tip {
            background-color: #ddf;
            color: #333;
            border: 1px solid silver;
            box-shadow: 3px 4px 3px 0px silver;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 5px;
            overflow: hidden;
            line-height: 20px;
        }
        #tip input[type="text"] {
            height: 25px;
            border: 0;
            padding-left: 5px;
            width: 280px;
            border-radius: 3px;
            outline: none;
        }

    </style>
<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            社区编辑
            <a href="{:U('Shequ/list')}" class="btn btn-default pull-right"><font color="black">社区列表</font></a>
        </h1>

    </section>

    <!-- Main content -->
    <!-- <section class="content"> -->
    <script type="text/javascript" language="javascript"> 

            function confirmAct() 
            { 
                if(confirm('确定要执行此操作吗?')) 
                { 
                    return true; 
                } 
                return false; 
            } 
     function submits()  
     {  
         var submitId=document.getElementById('submit');  
         submitId.disabled=true;  

    } 
   
</script>




        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form action="{:U('Shequ/bianji',['shequ_id'=>$shequ['id']])}" method="post" enctype="multipart/form-data" onsubmit="return submits();">
                    <input type="hidden" name="id" value="<?=$shequ['id']?>">
                        <!-- <div class="box-header">
                            <h3 class="box-title"></h3>
                            <a href="{:U('list')}" class="btn btn-default pull-right">社区列表</a>
                        </div> --><!-- /.box-header -->

                        <div class="box-body">
                            <!-- <div class="form-group">
                                <label for="inputCategoryId">社区分类</label>
                                <select name="category_id" id="inputCategoryId" class="form-control">
                                
                                    <option value="0">--分类名称--</option>
                                    <volist name="category_list" id="category">
                                    <option value="{$category['category_id']}">{:str_repeat('----', $category['deep'])}{$category['title']}</option>
                                    </volist>
                                </select>
                            </div> -->
                           <!--  <div class="form-group">
                                <label for="inputSubject"></label>
                                <td><img src="http://www.qinlinlebang.com/photo/avatar/{$user['avatar']|default="avatar.png"}" height="120px;" id="touxiang" /></td>
                            </div> -->
                            <!-- <td><img src="http://www.qinlinlebang.com/photo/avatar/{$user['avatar']|default="avatar.png"}" height="120px;" id="touxiang" /></td> -->
                            <!-- <div class="form-group">
                            <p></p>
                                <label for="inputSubject">姓&nbsp;&nbsp;名</label>
                                <input value="{$user['name']}" type="text" name="name" id="inputname"  maxlength="20"  /><br />
                            </div> -->
                            <div class="form-group">
                                <label style="width: 30%;" for="inputCover">&nbsp;社区名:</label>
                                <input id="keyword" value="{$shequ['mingcheng']}" style=" margin-left:-277px; height:33px; width:500px;" type="text" name="mingcheng" autocomplete="off"/><br />
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">社区照片:</label>

                                <img style="margin-left: 5px;" src="__ROOT__/photo/shequ/s_{$shequ['zhaopian']|default="shequ.png"}"/>
                               </br><span style="margin-left: 75px;font-size:15px;color:red">更改封面:</span><input style="margin-left: 137px;margin-top: -21px;" type="file" name="zhaopian" id="zhaopian"value = "{$shequ['zhaopian']}" >
                                <input type="hidden" name="zhaopian" value = "{$shequ['zhaopian']}">
                            </div>
                            <div class="form-group">
                                <label for="inputbirthday">社区坐标:</label>
                                <input id="zuobiao" value="{$shequ['zuobiao']}" style="height:33px; width:500px; margin-left:5px;" readonly="true" type="text" name="zuobiao" >
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">社区详情:</label>
                                <input id="weizhi" value="{$shequ['weizhi']}" style="height:33px; width:500px;margin-left:5px;"  type="text" name="weizhi" /><br />
                            </div>

                             <div class="form-group">
                                <label for="inputSubject">是否启用:</label>
                                <select   name="xianshi" style=" margin-left:5px; height:33px; width:500px;">
                                      <option  name ="xianshi" value="1" <if condition='$shequ["xianshi"] eq 1'>selected</if> >是</option>
                                      <option  name="xianshi" value="0" <if condition='$shequ["xianshi"] eq 0'>selected</if> >否</option>
                                </select>
                            </div>

                            <!--  <div class="form-group">
                                <label for="inputSubject">所在地区:</label>
                                <input id="quyu" value="{$shequ['quyu']}" style="height:33px; width:500px;margin-left:5px;"  type="text" name="quyu" /><br />
                            </div> -->
<script>

function delAll(names){
  document.getElementById(names).options.length = 0;
}

function addOne(names,values,sid){
  var select = document.getElementById(names);
  select.options[select.length] = new Option(values,sid);
}

function gzsjdz(id,names){
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function(){
  if(this.readyState == 4){ //Ajax 请求
      var result = this.responseText;
      var res;
      if( result.indexOf('<') >= 0){
        result = result.split('<');
        res = eval(result[0]);
      }else{
        res = eval(result[0]);
      }
      
      delAll(names);
      for (var i = 0; i <= res.length - 1; i++) {
        // alert(res[i].mingcheng);
        addOne(names,res[i].mingcheng,res[i].id);
      }
      gzsjcity(res[0].id,'shjiarea');
      // if(names == 'shjicity'){
      //   gzsjdz(res[0].id,'shjiarea');
      //   gzsjdz(res[0].id,'shjishequ');
      // }
    }
  }
  xhr.open('get',"{:U('shequ/ajax')}?id="+id,true); //true
  xhr.send(null);

   // var xmlhttp;
   // var bs="sjdz";
   //    if (window.XMLHttpRequest)
   //      {// code for IE7+, Firefox, Chrome, Opera, Safari
   //        xmlhttp=new XMLHttpRequest();
   //        }
   //      else
   //        {// code for IE6, IE5
   //        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
   //        }
   //        //处理返回结果
   //      xmlhttp.onreadystatechange=function()
   //        {
   //      if(xmlhttp.readyState==4 && xmlhttp.status==200)
   //        {
   //          alert(xmlhttp.responseText);
   //          // document.getElementById('shjdizhi').innerHTML=xmlhttp.responseText;
   //          // var x=document.getElementById('shjdizhi').value;
   //          // document.getElementById('new_location').value=x;
   //          // document.getElementById('new_locations').value=x;
   //        }
   //      }
   //    //发送请求
   //    xmlhttp.open("GET",{:U('admin/shequ/bianji')}"?id="+id+"&bs="+bs,true);
   //    xmlhttp.send(); 
}

function gzsjcity(id,names){
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function(){
  if(this.readyState == 4){ //Ajax 请求
      var result = this.responseText;
      var res;
      if( result.indexOf('<') >= 0){
        result = result.split('<');
        res = eval(result[0]);
      }else{
        res = eval(result[0]);
      }
      delAll(names);
      for (var i = 0; i <= res.length - 1; i++) {
        addOne(names,res[i].mingcheng,res[i].id);
      }
      gzsjarea(res[0].id,'shjishequ');
    }
  }
  xhr.open('get',"{:U('shequ/ajax')}?id="+id,true); //true
  xhr.send(null);
}

function gzsjarea(id,names){
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function(){
  if(this.readyState == 4){ //Ajax 请求
      var result = this.responseText;
      var res;
      if( result.indexOf('<') >= 0){
        result = result.split('<');
        res = eval(result[0]);
      }else{
        res = eval(result[0]);
      }
      // delAll(names);
      delAll2();
      for (var i = 0; i <= res.length - 1; i++) {
        // addOne(names,res[i].mingcheng,res[i].id);
        addOne2(res[i].id,res[i].mingcheng);
      }
    }
  }
  xhr.open('get',"{:U('shequ/ajax')}?id="+id,true); //true
  xhr.send(null);
}
function delAll2(){
  // document.getElementById(names).options.length = 0;
  $('#shjishequ').empty();
}

function addOne2(id,values){
  // names,values,sid
  // var select = document.getElementById(names);
  // select.options[select.length] = new Option(values,sid);
  var shjishequ = document.getElementById('shjishequ');
  checkbox = document.createElement('input');
  checkbox.setAttribute('type','checkbox');
  checkbox.setAttribute('name','quyu[]');
  checkbox.setAttribute('value',id);
  shjishequ.appendChild(checkbox);
  shjishequ.appendChild(document.createTextNode(values+' '));
}

</script>
                          <div class="form-group">
                          <label for="inputSubject">所在地区:</label>
                          
                        <select id="shjidizhi" onChange="gzsjdz(this.options[this.options.selectedIndex].value,'shjicity');" class="xiala_2" name="pro">
                        <option class="option">请选择</option>
                        <?php
                        $sjsql="SELECT * FROM `lb_area` WHERE sid= 1";
                        //$sjreslut=mysqli_query($link,$sjsql);
                        $sjreslut=M('area')->where('sid=1')->select();
                        foreach($sjreslut as $sjrow){
                        ?>
                             <option id="<?=$sjrow['sid']?>" value="<?=$sjrow['id']?>" ><?=$sjrow['mingcheng']?></option>
                        <?php
                          }
                        ?>
                        </select>

                        <select id="shjicity" onChange="gzsjcity(this.options[this.options.selectedIndex].value,'shjiarea');" class="xiala_2" name="city">
                        <option class="option">请选择</option>
                        </select>
                        
                        <select id="shjiarea" onChange="gzsjarea(this.options[this.options.selectedIndex].value,'shjishequ');" class="xiala_2" name="area">
                        <option class="option">请选择</option>
                        </select>
                        
                     <!--  <select id="shjishequ" onChange="gzsjshequ(this.options[this.options.selectedIndex].value);"  multiple="true" list="schList" listKey="schld" listValue="schNm" name="quyu[]">
                                           <option class="option">请选择</option> 
                                           </select> -->
                          </div>
                           <div class="form-group">
                                                 <label for="inputSubject" style="float:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                         
                         <div id="shjishequ" name="quyu[]">
                           
                         </div>
                                                 </div> 

                            <div class="form-group">
                              <button class="btn btn-primary" style="margin-left:75px; width:500px;height:33px;" type="submit" name="submit" onclick="return confirmAct();"  value="publish">保存</button>
                            </div>
                        </div><!-- /.box-body --> 
                     
                           <!--  <a href="{:U('edit', ['user_id'=>$user['id']])}" class="btn btn-default" title="编辑"><span class="fa fa-edit"></span> 编辑</a> -->
                            
                       <!-- /.box-footer -->
                    </form>


<script>
//

</script>
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
<div  style="float: right; width:1px;height:1px;margin:-500px 110px 0 0" id="mapContainer"></div>
                     <div id="tip" style="margin:150px 0 0 600px">
                    <!-- <input type="text" id="keyword" name="keyword" value="请输入关键字：(选定后搜索)" onfocus='this.value=""'/> -->
                    <tr><td class="column2">
                    <!-- <label>左击获取经纬度：</label> --></td>
                    <td class="column2">
                    <input type="hidden" readonly="true" id="lnglat">
                     </td>
                    
                    </tr>

                    </div>
                     <div style="width:300px;height:200px;margin:30px 0 0 40px">
                        <script type="text/javascript">
                            var windowsArr = [];
                            var marker = [];
                            var mapObj = new AMap.Map("mapContainer", {
                                    resizeEnable: true,
                                    center: [116.397428, 39.90923],//地图中心点
                                    zoom: 13,//地图显示的缩放级别
                                    keyboardEnable: false
                            });
                            AMap.plugin(['AMap.Autocomplete','AMap.PlaceSearch'],function(){
                              var autoOptions = {
                                city: "北京", //城市，默认全国
                                input: "keyword"//使用联想输入的input的id
                              };
                              autocomplete= new AMap.Autocomplete(autoOptions);
                              var placeSearch = new AMap.PlaceSearch({
                                    city:'北京',
                                    map:mapObj
                              })
                              AMap.event.addListener(autocomplete, "select", function(e){
                                 //TODO 针对选中的poi实现自己的功能
                                 placeSearch.search(e.poi.name)
                                 console.log(e);
                                 document.getElementById("zuobiao").value = e.poi.location.lng + ',' + e.poi.location.lat;
                                 document.getElementById("weizhi").value = e.poi.district+e.poi.address;
                                 
                              });
                            });
                            

                        </script>
    </section><!-- /.content -->

    <section class="content-footer">
        <div class="text-center">
            &copy;全民乐帮
        </div>
    </section><!-- /.content-footer -->


</aside><!-- /.right-side -->
</block>