<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
         <h1>
        <div>
            <div style="float:left">
            <font class="font" >新鲜事详情</font>  
            <!-- <p style="width:81px;23px;">待审核用户 </p> -->
            </div>
        <div class="search" style="float:left;margin-left: 20px;">
   
    </div>
        <a href="javascript:history.back(-1);" class="btn btn-default0 pull-right"  style="position:relative;bottom:8px;">返回</a>
        </div>
    </section>

    <!-- Main content -->
    <!-- <section class="content"> -->
    
   <script type="text/javascript" language="javascript"> 

            function confirmAct() 
            { 
                if(confirm('确定要执行此操作吗?')) 
                { 
                    return true; 
                } 
                return false; 
            } 
     function submits()  
     {  
         var submitId=document.getElementById('submit');  
         submitId.disabled=true;  
 
    }  


/*  弹出禁用框*/ 

                                    function add(){
                                    document.getElementById("tcbg").style.display="block";
                                    document.getElementById("tcdiv").style.display="block";
                                    document.getElementById("xianshi").value="0";
                                    }

                                    function zhiding(){
                                    document.getElementById("tcbg").style.display="block";
                                    document.getElementById("tcdiv1").style.display="block";
                                    // document.getElementById("xid").value=xid;

                                    }

                                    function subs(){
                                    var beizhu=document.getElementById("beizhu").value;//
                                    var xid=document.getElementById("xid").value;//
                          
                                   
                                       

                                    }
                                    function cancel(){
                                    var p=document.getElementById("div");
                                    document.body.removeChild(p);
                                    }
                                      //9月19号修改
                                    function removeElement1(){
                                    document.getElementById("tcbg").style.display='none';
                                    document.getElementById("tcdiv").style.display="none";
                                    }

                                    function removeElement2(){
                                    document.getElementById("tcbg").style.display='none';
                                    document.getElementById("tcdiv1").style.display="none";
                                    }
</script>
<style>
    select{
        text-indent:5px;
    }
    input{
              text-indent:10px;
    }
</style>

    <section class="content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="div-box">
                <div class="div-center"><!--/*居中*/-->

                <div class='left' style='float:left'>
                    <form action="{:U('bianji1',['xinxianshi_id'=>$xinxianshi['id'],'p'=>$_GET['p']])}" method="post" enctype="multipart/form-data" onsubmit="return submits();">
                        <!-- <div class="box-header">
                            <h3 class="box-title"></h3>
                            <a href="{:U('User/list')}" class="btn btn-default pull-right">用户列表</a>
                        </div> --><!-- /.box-header -->
                
                        <div class="box-body">
                          <div>
                              <div class="form-group" style="float:left; ">
                                <label for="inputCover">发布人</label>
                                <input class="ip" type="text" readonly="readonly" name="name" id="inputPhone" placeholder="" maxlength="11" style="width:240px;background:#f9f9f9;" value="{$xinxianshi['name']}" />
                            </div>

                            <div class="form-group" style="float:left; position: relative;left: -9px;">
                                <label for="inputCover">手机号码</label>
                                  <input class="ip" type="text" disabled="disabled" name="phone" id="inputPhone" placeholder="" maxlength="11" style="width:240px;background:#f9f9f9;" value="{$xinxianshi['phone']}">
                            </div>
                         </div>
                            
                            <div class="form-group">
                                <label for="inputSubject"  style="height:80px;line-height:80px; position: relative;top: 1px; ">新鲜事详情</label>
                                <!-- <input class="ip" type="text" name="nickname" id="inputname" placeholder="请输入昵称" maxlength=""   style="height:80px;width:558px;"/> -->
                                <textarea name="neirong" id="" cols="30" rows="10" style="height:80px;width:558px;position: relative;left:-8px;top: 1px;border:#dddddd solid 1px;resize: none ;color:#666;" > {$xinxianshi['neirong']} 
                                </textarea>
                            </div>
                      <script type="text/javascript" src="/Public/Admin/js/tinybox.js"></script>
                        
                            <div class="form-group"style="margin:0 auto;width:640px;min-height:180px; ">

                            <foreach  name ="zhaopian" item ="vo" key="k">

                            <div id="preview{$k+1}"
                            <if condition="$k eq 0 OR $k eq 3 OR $k eq 6">
                            style="margin-top:10px; float:left; margin-left:100px;">
                            <a href="javascript:void(0)" id="click_pic{$k+1}" onclick="click_pic({$k+1})">
                            <else/>
                            style="margin-top:10px; float:left; margin-left:10px;">
                            <a href="javascript:void(0)" id="click_pic{$k+1}" onclick="click_pic({$k+1})">
                            </if>
                            <img id="imghead{$k+1}" width=140px; height=140px; border=0 src='__ROOT__/photo/xinxianshi/b_{$vo["zhaopian"]|default="xinxianshi.png"}'>
                            </a>
                            </div>

                            </foreach>
 
                          </div>
                          <div style="clear:both"></div>

                          <br>


<script type="text/javascript" >                       
        function click_pic(id){
                var a1 = document.getElementById('click_pic'+id);
                var click_pic = "<img src='"+ a1.children[0].src +"' />";
              TINY.box.show(click_pic,0,0,0,1);
             }

 
</script> 
                          <div>
                              <div class="form-group" style="float:left; ">
                                <label for="inputCover">所在小区</label>
                                <input class="ip" type="text" readonly="readonly" name="mingcheng" id="inputPhone" placeholder="" maxlength="11" style="width:240px;background:#f9f9f9;" 
                                <if condition="empty($xinxianshi['mingcheng'])">体验小区
                                <else />  
                                value="{$xinxianshi['mingcheng']}"
                                </if> />
                              
                            </div>

                            <div class="form-group" style="float:left; position: relative;left: -9px;">
                                <label for="inputCover">发布时间</label>
                                <input class="ip" type="text" disabled="disabled" name="phone" id="inputPhone" placeholder="" maxlength="" style=" width:240px;background:#f9f9f9;"value="{:date('Y-m-d H:i:s', $xinxianshi['shijian'])}" />
                            </div>
                         </div>
 
                        <!-- /.box-body -->
                        <div class="boxclearfix">

                            <button class="btn btn-primary0"  type="button" onclick="add();" style="width:150px;background:#ff6600;border:#ff6600;">禁用</button>

                            <button class="btn btn-primary0"  type="button" id = "submit" name="submit" onclick="zhiding();" value="publish" style="width:150px; background:#0099ff;;border:#0099ff;margin-left:10px;">置顶</button>
                            
                              <input type="hidden" name="xinxianshi_id" value="{$xinxianshi['id']}"> 
                            <button class="btn btn-primary0"  type="submit" id = "submit" name="submit" onclick="return confirmAct();" value="publish" style="width:305px;margin-left:10px; ">保存</button>

                        </div>
                        <br>
                        </div>
                 </form>
                    </div>

<!--弹出图片-->
<style type="text/css">
#tinybox{position:absolute; display:none; padding:10px;  z-index:2000;}
#tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; z-index:1500;background:#000000;}
#tinycontent{background:#ffffff; font-size:1.1em;}
</style>


<!--     js禁用框 -->
<style>
.tcbg{  display:none;  position:fixed;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color:#000;   -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50); z-index:5}
.tcdiv{ display:none;  position:fixed;  top:200px; right:350px; margin:auto; text-align:left;   width: 100%; max-width:400px;  height: 280px;  background-color:#F8F8F8;  z-index:6; padding:10px; border-radius:5px;}

.tcdiv1{ display:none;  position:fixed;  top:200px; right:350px; margin:auto; text-align:left;   width: 100%; max-width:400px;  height: 280px;  background-color:#F8F8F8;  z-index:6; padding:10px; border-radius:5px;}


.int{
    width:100%;
    }
 #we{
    /*float:right;*/
    text-align: center;
    margin-top:20px;
    
    }
    .textarea{
        resize:block; width:380px; height:50px; border-radius:3px;margin-top:80px;padding-left:10px; 
    }


    </style>
<script type="text/javascript" src="__PUBLIC__/Admin/js/adddate.js"></script>
<div class="tcbg" id="tcbg"></div>
<div id="tcdiv"  class="tcdiv">
<form action="{:U('bianji1',['xinxianshi_id'=>$xinxianshi['id'],'p'=>$_GET['p']])}" method="post" onsubmit='return check()'>

   <input type="hidden" name="xinxianshi_id" value="{$xinxianshi['id']}"> 
   <input type="hidden" name="pingbizhouqi"> 
   <input type="hidden" name="xianshi" id="xianshi"> 

    <!-- <textarea id="beizhu"  name="beizhu" placeholder="输入禁用的理由......"cols="30" rows="10"></textarea> -->
      <select name="beizhu" class="textarea" id="beizhu">
        <option id="beizhu" value="">请选择禁用理由</option>
        <option id="beizhu" value="(您的消息已经被禁止)">(您的消息已经被禁止) </option>
        <option id="beizhu" value="(您的消息为广告信息已经被禁止)">(您的消息为广告信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为色情信息已经被禁止)">(您的消息为色情信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为血腥信息已经被禁止)">(您的消息为血腥信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为违法信息已经被禁止)">(您的消息为违法信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为政治信息已经被禁止)">(您的消息为政治信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为隐私信息已经被禁止)">(您的消息为隐私信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为有害信息已经被禁止)">(您的消息为有害信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为不实信息已经被禁止)">(您的消息为不实信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为不实信息已经被禁止)">(您的消息为不实信息已经被禁止)</option>
        <option id="beizhu" value="(您的消息为人身攻击信息已经被禁止)">(您的消息为人身攻击信息已经被禁止)</option>
      </select>
                                                                                 
                                                                         





     <div id="we">
    <input type='button' class="btn btn-default0" style="background:#FFFFFF;border-color: #fbfbfb;color:black;" onclick="removeElement1()" value='返回'>
    
      &nbsp;&nbsp;

       <input type="submit" class="btn btn-default0" style="background:#FF6600;"; value="确定禁用">
    </div>

 </form>
</div>
<script>
        function check(){
            var beizhu =  $('#beizhu').val();
            if( beizhu!= ''){
                return true;
            }
            alert('亲,输禁用理由啦!!!');
            return false;

        }
</script>

  <div id="tcdiv1"  class="tcdiv1">
    <form action="{:U('bianji1',['xinxianshi_id'=>$xinxianshi['id'],'p'=>$_GET['p']])}" method="post" onsubmit="return checks()">
      <input type="hidden" name="xinxianshi_id" value="{$xinxianshi['id']}"> 
      <input type="hidden" name="zhidings"> 
     <select id="zhuqi" name="zhiding" style="width:340px;height:40px;margin-top:10px;margin-left:20px; border-radius:3px;color:#a9a9a9">
       <option  name =" " value="">选择置顶类别</option>
       <option  name =" " value="0">&nbsp;不置顶</option>
       <option  name ="" value="1">&nbsp;小区置顶</option>
       <option  name="" value="2">&nbsp;区域置顶</option>
       <option  name="" value="3">&nbsp;城市置顶</option>
       <option  name="" value="4">&nbsp;全局置顶</option>
     </select>

      <!-- <input type="date" style="width:340px;height:40px;margin-top:20px;margin-left:20px; border-radius:3px;color:#666;"> -->
      <span><input type="text"  class="demo" name="starttime" id="" style="width: 340px;height:40px;margin-top: 25px;margin-left:20px;border-radius:3px;color:#666;border:solid 1px #a9a9a9;" placeholder="请选择置顶起始时间" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"/></span>

      <span><input type="text"  class="demo" name="endtime" id="" style="width: 340px;height:40px;margin-top: -130px;margin-left:20px;border-radius:3px;font-color:#666;border:solid 1px #a9a9a9;" placeholder="请选择置顶结束时间" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')"/></span>

      
    
     <div id="we" style="margin-top:0px; margin-left:-200px;margin: 0px auto;;
    ">
    <input type='button' class="btn btn-default0" style="background:#FFFFFF;border-color: #fbfbfb;color:black;" onclick="removeElement2()" value='返回'>&nbsp;&nbsp;

       <input type="submit" class="btn btn-default0" style="background:#FF6600;"; value="确定置顶">
    </div>

 </form>
</div>
<script>
        function checks(){
            var zhuqi =  $('#zhuqi').val();
            if( zhuqi!= ''){
                return true;
            }
            alert('亲,请选择置顶类型!!!');
            return false;

        }
</script>


<style type="text/css">
.demo{width:500px;margin:40px auto;}
.demo span{display:inline-block;width:340px;}
.demo span input{padding:3px;width:120px;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
</style>


   





</aside><!-- /.right-side -->
</block>