<extend name="Layout/Admin" />

<block name="content">
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新鲜事编辑
            <a href="{:U('Xinxianshi/list')}" class="btn btn-default pull-right"><font color="black">所有新鲜事</font></a>
        </h1>
        
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form action="{:U('Xinxianshi/bianji1')}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<?=$xinxianshi['id']?>">
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                            <!-- <a href="{:U('list')}" class="btn btn-default pull-right">新鲜事列表</a> -->
                        </div><!-- /.box-header -->

                        <div class="box-body">
                           
                            <div class="form-group">
                                <label for="inputCover">&nbsp;发帖人:</label>
                                <sapn>{$xinxianshi['name']}</span>
                                <!-- <input value="{$xinxianshi['name']}"  type="text" name="name" id="inputPhone" maxlength="11" /><br /> -->
                                
                            </div>
                            
                           
                            <div class="form-group">
                                <label for="inputbirthday">所在社区:</label>
                                 <td><if condition="empty($xinxianshi['mingcheng'])">体验小区<else />  
                                {$xinxianshi['mingcheng']}</if></td>
                                <!-- <input value="{$xinxianshi['mingcheng']}"  type="text" name="mingcheng"id="inputbirthday" > -->
                            </div>
                            <!-- s -->
                          <!--   <tr><TD align="right" width=120 height=60></TD>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<TD align="right" width=120 height=80></TD></tr>  -->
                            <!-- d -->
                            <div class="form-group">
                                <label for="inputSubject">&nbsp;&nbsp;内容:</label>
                                <input value="{$xinxianshi['neirong']}"  type="hidden" name="neirong" id="inputidnumber" placeholder="max<20位" maxlength="20" /><textarea value="{$xinxianshi['neirong']}" name="neirong" style=" height:100%;" 

                                >{$xinxianshi['neirong']}</textarea>&nbsp;&nbsp;&nbsp;
                                
                               <!--  <label for="inputSubject">审核备注</label>
                                <input value="{$xinxianshi['beizhu']}"  type="hidden" name="beizhu" id="inputidnumber" placeholder="max<20位" maxlength="20" /><textarea value="{$xinxianshi['beizhu']}" name="beizhu" style=" height:100%;" 

                                >{$xinxianshi['beizhu']}</textarea> --><br />
                                
                            </div>
                            <!-- <div class="form-group">
                                <label for="inputSubject">是否通过审核：</label>
                                <tr >
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="xianshi" id="inputSubject"  value="1" >是
                                    </td>
                                    <td>&nbsp;&nbsp;<input type="radio" name="xianshi" id="inputSubject"  value="0"></td>否
                                </tr>
                                <input type="radio" name="RR" value="1">
                                <input type="radio" name="RR" value="2">
                            </div> -->
                       

                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                           <!--  <a href="{:U('edit', ['user_id'=>$user['id']])}" class="btn btn-default" title="编辑"><span class="fa fa-edit"></span> 编辑</a> -->
                            <button class="btn btn-primary" type="submit" name="submit" value="publish">保存</button>
                            <!-- <button class="btn btn-info" type="submit" name="submit" value="save">仅保存</button> -->
                        </div><!-- /.box-footer -->
                        <div>
                        <table>
                            <tr>
                                <td>

                                    <if condition="empty($xinxianshi['zhaopian0'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian0']|default="xinxianshi.png"}"/></if>
                                </td>
                                <td>
                                  <if condition="empty($xinxianshi['zhaopian1'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian1']|default="xinxianshi.png"}"/></if>
                                </td>
                                <td>
                                  <if condition="empty($xinxianshi['zhaopian2'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian2']|default="xinxianshi.png"}"/></if>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <if condition="empty($xinxianshi['zhaopian3'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian3']|default="xinxianshi.png"}"/></if>
                                </td>
                                <td>
                                   <if condition="empty($xinxianshi['zhaopian4'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian4']|default="xinxianshi.png"}"/></if>
                                </td>
                                <td>
                                  <if condition="empty($xinxianshi['zhaopian5'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian5']|default="xinxianshi.png"}"/></if>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <if condition="empty($xinxianshi['zhaopian6'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian6']|default="xinxianshi.png"}"/></if>
                                </td>
                                <td>

                                  <if condition="empty($xinxianshi['zhaopian7'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian7']|default="xinxianshi.png"}"/></if>
                                </td>
                                <td>
                                    <if condition="empty($xinxianshi['zhaopian8'])"><else />  
                                    <img style="margin-left: 5px;width: 200px;height: 200px;" src="__ROOT__/photo/xinxianshi/s_{$xinxianshi['zhaopian8']|default="xinxianshi.png"}"/></if>         
                                </td>
                            </tr>
                        </table>
                        </div>

                    </form>

                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->

    <section class="content-footer">
        <div class="text-center">
            &copy;全民乐帮
        </div>
    </section><!-- /.content-footer -->

</aside><!-- /.right-side -->
</block>